<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div class='container'>
  <h1>ユーザ編集ページ</h1>

  <%= form_with(scope: :user, url: admin_user_path(@user), method: :patch, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, '件') %> のエラー</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field form-group">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>

    <div class="field form-group">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="field form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="field form-group">
      <%= form.label :admin %>
      <%= form.check_box :admin %>
    </div>

    <div class="actions", id='update-user'>
      <%= form.submit "更新する", id: 'update-user' %>
    </div>
  <% end %>

  <%= link_to t('common.back'), admin_users_path(@user.id), id: 'back' %>
</div>