<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to t('tasks.task_index'), tasks_path, id: 'tasks-index' %></li>
        <li><%= link_to t('tasks.new_task'), new_task_path, id: 'new-task' %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
